.loginPage {
  width: 100%;
  height: 100%;
  background: #000;
  background-image: url('../static/images/login-background.png');
  background-repeat: no-repeat;
  background-size: cover;

  .loginPanel{
    background: rgba(255, 255, 255, 0.67);
    position: absolute;
    width: 500px;
    min-height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    z-index: 50;
    .about{
      text-align: center;
      margin-bottom: 10px;
    }
    .title{
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 16px;
      color: #f7f7f7;
      background: #108ee9;
    }
    .formContainer{
      width: 100%;
      padding-top: 40px;
      padding-left: 80px;
      padding-right: 80px;
    }


  }
}
