
.normal {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.logo {
  width: 150px;
  padding: 10px 0;
  background: #333;
  border-radius: 6px;
  margin: 16px 24px 16px 28px;
  text-align: center;
  line-height: 32px;
  color: #999;
}

.logo i {
  margin-right: 8px;
}

.sider {
  width: 224px;
  background: #404040;
  position: fixed;
  overflow: auto;
  padding-bottom: 24px;
  height: 100%;
}

.header {
  background: #fff;
  height: 64px;
  border-bottom: 1px solid #e9e9e9;
}

.breadcrumb {
  margin: 12px 0 -12px 24px;
}

.main {
  margin-left: 224px;
}

.container {
  margin: 24px 0;
}

.content {
  min-height: 560px;
  background: #fff;
  padding: 0 24px 24px 24px;
}

.footer {
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 12px;
  color: #999;
  background: #fff;
  border-top: 1px solid #e9e9e9;
  width: 100%;
}

.user {
  float: right;
  padding: 10px 20px;
  line-height: 43px;
  background-color: #f9f9f9;
}

.user span {
  margin-left: 10px;
}

td.more-line-text{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height:4.3em;
}